.App {
  text-align: start;
  padding: 1rem;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 10px;
}
.pagination-key {
  border: 1px solid black;
  width: fit-content;
  padding: 2px;
  margin: 2px;

  &:hover {
    background-color: aquamarine;
  }
}
